<%- include header %>

<!--内容-->
<div class='post_list'>
    <div class='post_title' id="Div_Title">
        <%= article.title %>
    </div>
    <div class='post_content' id="Div_Content">
        <%- article.content %>
    </div>
    <div class='post_info' id="Div_Info">
        <%= article.date %>&nbsp;&nbsp;
        <%= article.tag %>&nbsp;&nbsp;
        <%= article.access %>&nbsp&nbsp;
        <%= article.name %>&nbsp;&nbsp;
        <a href='/tag' target='_blank'>tag</a>&nbsp;&nbsp;
        推荐使用：
        <span aria-hidden="true" title="Chrome" class="icon-chrome"></span>
	      <span aria-hidden="true" title="Firefox" class="icon-firefox"></span>
	      <span aria-hidden="true" title="Opera" class="icon-opera"></span>
	      <span aria-hidden="true" title="Safari" class="icon-safari"></span>
	      <span aria-hidden="true" title="IE9+" class="icon-IE"></span>
        <a href="../Feed" style="text-decoration:none;" target="_blank">
        <span aria-hidden="true" title="订阅" style="color:#009933; cursor:pointer;" class="icon-feed"></span></a>
        &nbsp;&nbsp;按q留言或<span id="SpanPost" style="text-decoration:underline; cursor:pointer;">点此</span>
    </div>
</div>
    
<!--評論層-->
<div class="post_list" id="Div_Reply" style="display:none;">
    <form action="/comment" method="post" id="Comment">
   	    <table width="580px" border="0" align="center">
    	    <tr>
    	        <td colspan="2" align="left">
                    <textarea name="content" placeholder="请在这里输入内容...." id="Txt_Content" style="width:99%; height:80px; border:1px solid #CCCCCC; border-radius:3px;"></textarea>
                </td>
   	        </tr>
    	    <tr>
    	        <td colspan="2" align="left">
	                <span aria-hidden="true" class="icon-happy"></span>
	                <span aria-hidden="true" class="icon-happy-2"></span>
	                <span aria-hidden="true" class="icon-smiley"></span>
	                <span aria-hidden="true" class="icon-smiley-2"></span>
	                <span aria-hidden="true" class="icon-tongue"></span>
	                <span aria-hidden="true" class="icon-tongue-2"></span>
	                <span aria-hidden="true" class="icon-sad"></span>
	                <span aria-hidden="true" class="icon-sad-2"></span>
	                <span aria-hidden="true" class="icon-wink"></span>
	                <span aria-hidden="true" class="icon-wink-2"></span>
	                <span aria-hidden="true" class="icon-grin"></span>
	                <span aria-hidden="true" class="icon-grin-2"></span>
	                <span aria-hidden="true" class="icon-cool"></span>
	                <span aria-hidden="true" class="icon-cool-2"></span>
	                <span aria-hidden="true" class="icon-angry"></span>
	                <span aria-hidden="true" class="icon-shocked"></span>
	                <span aria-hidden="true" class="icon-shocked-2"></span>
	                <span aria-hidden="true" class="icon-confused"></span>
	                <span aria-hidden="true" class="icon-confused-2"></span>
	                <span aria-hidden="true" class="icon-neutral"></span>
	                <span aria-hidden="true" class="icon-neutral-2"></span>
	                <span aria-hidden="true" class="icon-wondering"></span>
	                <span aria-hidden="true" class="icon-wondering-2"></span>
	                <span aria-hidden="true" class="icon-angry-2"></span>
                </td>
   	        </tr>
            <tr>
    	        <td width="500px" align="left">
   	                <input type="text" name="name" placeholder="请留下阁下的名号" id="Txt_Name" style="width:99%; height:24px; line-height:24px; border:1px solid #CCCCCC; border-radius:3px;" />
                </td>
                <td width="80px">
                <input type="hidden" id="Hid_Title" name="aid" value="<%= article.id %>" />
                <input type="submit" name="Btn_Post" id="Btn_Post" style="width:90%; height:26px; line-height:26x; background-clip: padding-box; background-color:#e6e6e6; border:1px solid #cccccc; border-radius:3px; cursor:pointer;" value="送出" />
                </td>
   	        </tr>
  	    </table>
    </form>
</div>

<% if(comments.length > 0){ %>
    <% comments.forEach(function(comment, index){ %>
    <div class='reply_list'>
        <table width='580' height='auto' border='0' align='center'>
            <tr>
                <td style='width:72px;' rowspan='2' align='center' valign='top'>
                <img src='/images/head.jpg' width='50' height='50' alt='<%=comment.name%>' title='<%=comment.name%>' />
                </td>
                <td align='left' style='width:498px; font-size:11px; color:#555;'>
                <%=comment.name%>&nbsp;&nbsp;<%=comment.date %>&nbsp;&nbsp;&nbsp;&nbsp;#<%= index %>
                </td>
            </tr>
            <tr>
                <td align='left'>
                <div style='width:100%; font-size:12px; color:#555; height:auto; word-wrap:break-word; word-break:break-all;'>
                <%=comment.content%>
                </div>
                </td>
            </tr>
        </table>
    </div>
    <% }) %>

    <div id='next_page' class='post_list next_p'>
      <div id="next_comm" class='post_title'>继续加载...</div>
      <input type="hidden" id="Hid_Page" value="1" />
    </div>
<% } %>

<%- include footer %>